  color: var(--bg-red);
}

/*
Toltips mais perto da barra, alterar cores e remover sombras.
*/
.jwplayer.jw-skin-netflix .jw-controlbar .jw-tooltip {
  box-shadow: none;
}

.jwplayer.jw-skin-netflix .jw-controlbar .jw-tooltip.jw-open {
  border-radius: 0.3rem;
  color: var(--bg-black);
}

.jwplayer.jw-skin-netflix .jw-controlbar .jw-tooltip .jw-text {
  background-color: var(--bg-black);
  border-radius: 0.3rem;
}

.jwplayer.jw-skin-netflix .jw-controlbar .jw-text {
  color: var(--bg-white);
}

.jwplayer.jw-skin-netflix .jw-time-tip .jw-text {
  color: var(--bg-black);
}

.jwplayer.jw-skin-netflix .jw-volume-tip {
  margin-bottom: -4rem;
}

/*
Tooltip timeslider e botões de qualidade e legenda.
*/